.hero-image {
    background-image: url("images/1.jpg");
    background-repeat: no-repeat;
    background-position: c;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    height: 685px;
    width: 100%;

}

ul li {
    list-style-type: none;
}

li {
    padding-left: 40px;
    font-size: 20px;
    font-weight: bold;

  
}

.flex ul {
    display: flex;
    padding-right: 400px;
}

ul li a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: dashed;
    color: whitesmoke;
    padding-left: 30px;
    padding-top: 9px;
}

.hero-text {
    padding-top: 50px;
    padding-left: 20px;
    font-size: 35px;
    color: white;
}

.para p {
    font-size: 20px;
    color: rgb(10, 27, 73);
}

.para {
    margin-top: -40px;
    height: 100px;
    width: 650px;
}

button {
    height:45px ;
    width: 115px;
    border-radius: 5px;
    background-color: transparent;
    border-color: rgb(10, 27, 73);
    color: black;
}

button:hover {
    background-color: rgb(10, 27, 73);
    color: white;
}

span {
    color: rgb(10, 27, 73);
}

.about-section {
    height: 450px;
    width: 100%;
    margin-top:  60px;
    background-color: rgb(10, 27, 73);
    display: flex;
   
   
}

.first-image {
    height:350px;
    width: 500px;

}

.first {
    width: 50%; 
    align-self: center;
    margin-left: 150px;
}

.second {
    width: 50%;
    align-self: center;
    margin-right: 150px;
}

.second h1 {
    color: whitesmoke;

}

.sbtn {
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
}

.second p {
    color: whitesmoke;
}

.service {
    margin-top: 50px;
}

.ami {
    background-image: url("images/L.jpg");
    background-repeat: no-repeat;
    height:650px;
    width: 40%;
    position: relative;
    margin-top: 40px;
    margin-left: 245px;
}

.ami1 {
    background-image: url("images/L.jpg");
    background-repeat: no-repeat;
    height:650px;
    width: 40%;
    position: relative;
    margin-top: 40px;
    margin-right: 245px;
}

.mimi {
    height: 250px;
    width: 290px;
    left: 290px;
    top: 140px;
    position: absolute; 
    
}

.mimi1 {
    height: 250px;
    width: 290px;
    right: -70px;
    top: 140px;
    position: absolute; 
    
}

.side-text1 p {
    color: black;
    height: 100px;
    width: 500px;
    padding-left: 100px;
}

.side-text2 p {
    color: black;
    height: 100px;
    width: 500px;
    padding-left: 100px;
}

.side-text1 h1 {
    padding-left: 100px;
}

.side-text2 h1 {
    padding-left: 100px;
}

.side-text1 ul {
    padding-left: 105px;
}

.side-text2 ul {
    padding-left: 105px;
}


.side-text1 {
    width: 50%;
    margin-right: 130px;
}

.side-text2 {
    width: 50%;
    margin-left: 130px;
    
}

.our-service {
    display: flex;
    justify-content: space-around;
}

.our-service2 {
    margin-top: -200px;
    display: flex;
    justify-content: space-around;
}

.ul-flex {
    display: flex;
}

.our-service {
    display: flex;
    justify-content: space-around;
}



.side-text1 p {
    color: black;
}

.our-service {
    display: flex;
    justify-content: space-around;
}

.ul-flex {
    display: flex;
}

.pic1 {
    width: 60%;
}


.testimonial {
    background-color: rgb(36, 35, 35);
    height: 350px;
    width: 100%;
    margin-top: -190px;
   
}

.testimonial  p {
    height: 700px;
    width: 700px;
    color: white;
    
}


.test-header {
    margin-top: 10px;
    color: aqua;
    padding-top: 79px;
}

.activities-section {
    margin-top: 79px;
}

.activities-section h1 {
    color: rgb(57, 158, 158);
}

.activity-image {
    justify-content: space-around;
}

.active-img {
    height: 300px;
    width: 400px;
    border-radius: 20px;
    margin-left: 90px;
}

/* footer styling begins here */


.footer {
    margin-top: 70px;
    background-color: rgb(10, 27, 73);
    color: #fff;
}

.upper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 26px;
}

h1 {
   
}

.logo-second {
    height: 135px;
    width: 220px;
}

.upper .contact-second .icons {
    margin-top: 20px;
}

.upper .contact-second .icons .icon-side {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    color: #fff;
    font-family: serif;
    /* margin-top: 5px; */
}

.upper .contact-second .icons .icon-side i {
    font-size: 18px;
    color: #fff;
    height: 35px;
    min-width: 25px;
}
/* footer right conotainer style */
.upper .social-second .icons-second {
    margin-top: 30px;
}

.upper .social-second .icons-second i {
    font-size: 22px;
    margin-left: 20px;
}

hr {
    background-color: #BDBDBD;
    margin-left: 90px;
    width: 90%;
    /* height: 10px; */
}

.doc {
    margin-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}

.doc p {
    color: yellow;
}